<html>
<head>
    <title>Pagination</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='myfont/css/all.min.css')}}">
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-offset-2 col-md-8">
            <h1 class="page-header text-primary text-center">Pagination</h1>
            <center>
                <h1>Page-2</h1>
                <ul class="pagination pagination-lg">
                    <li><a href="{{url_for('page1')}}">&laquo</a></li>
                    <li><a href="{{url_for('page1')}}">1</a></li>
                    <li class="active"><a href="{{url_for('page2')}}">2</a></li>
                    <li><a href="{{url_for('page3')}}">3</a></li>
                    <li><a href="{{url_for('page3')}}">&raquo</a></li>
                </ul>
            </center>
        </div>
    </div>
</body>
</html>